<!-- chat.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
  </head>
  <body>
    <div class="chat-container">
      <h1>Chat</h1>
      <div class="chat-content" id="chatContainer">
        <ul id="messages">
          <% chatHistory.forEach(message => { %>
          <li><%= message.username %>: <%= message.message %></li>
          <% }); %>
        </ul>
      </div>
      <form class="chat-form" id="chatForm">
        <input
          type="text"
          id="messageInput"
          autocomplete="off"
          placeholder="Type your message..."
        />
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
  <script>
    const socket = io();
    const username = "<%= user.username %>";
    const chatContainer = document.getElementById('chatContainer');

    document
      .getElementById("chatForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        const message = document.getElementById("messageInput").value;
        const data = { message, username }; // Include username with the message.
        socket.emit("chat message", data);
        document.getElementById("messageInput").value = "";
        scrollToBottom();
      });

    // Function to display received message
    socket.on("chat message", async function (data) {
      const messages = document.getElementById("messages");
      const li = document.createElement("li");
      li.textContent = `${data.username}: ${data.message}`; // Display username with the message
      messages.appendChild(li);
      scrollToBottom();
    });
    function scrollToBottom() {
      chatContainer.scrollTop = chatContainer.scrollHeight;
    }
  </script>
</html>
